# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

*.swp
venv*
.github/*
out/*
.vscode
.DS_Store
.vscode
artifacts
build/
vendor
*.iml

# Go workspace file
go.work

## From https://github.com/github/gitignore/blob/main/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so