---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

extends: default

rules:
  line-length:
    ignore: |
      cluster_installers/extensions/
      cluster_installers/extensions-templates/

  indentation:
    level: warning
    spaces: 2 # adjust the expected indentation level
