---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

extends: default

ignore: |
  cluster_installers/extensions/
  cluster_installers/extensions-templates/
  vendor/*
  .github/workflows/*

rules:
  line-length:
    max: 250

  indentation:
    level: warning
    spaces: 2

  truthy: disable
